APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

WHATSAPP_SERVICE_URL=http://127.0.0.1:3001
WHATSAPP_SERVICE_TOKEN=
WHATSAPP_WEBHOOK_SECRET=
WHATSAPP_REQUEST_TIMEOUT=10
WHATSAPP_DEFAULT_DAILY_LIMIT=150
WHATSAPP_BUSINESS_START=9
WHATSAPP_BUSINESS_END=21
WHATSAPP_FALLBACK_TO_SMS=true
